.box1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.0rem;
    transition: all 1s;
}

.box1:hover {
    transform: scale(1.2);
}
.box2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.0rem;
    transition: all 1s;
}

.box2:hover {
    transform: scale(1.1);
}

.caja16 {
    transition: all 1s;
}

.caja16:hover {
    transform: scale(1.3)
}

.caja17 {
    transition: all 1s;
}

.caja17:hover {
    transform: scale(1.3)
}