
.aside__stock {
    display: flex;
    flex-direction: column;
    background-color: $color;
    align-items: center;
    border: 6px solid #0970DF;
    border-radius: 25px;
    margin-top: 3rem;
    margin-left: 3rem;
}

.aside__index {
    display: flex;
    flex-direction: column;
    background-color: $color;
    align-items: center;
    border: 6px solid #0970DF;
    border-radius: 25px;
    margin-top: 3rem;
    margin-left: 3rem;
}

.aside__producto {
    display: flex;
    flex-direction: column;
    background-color: $color;
    align-items: center;
    border: 6px solid #0970DF;
    border-radius: 25px;
    margin-top: 3rem;
    margin-left: 3rem;
}

.aside__gestoria {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    background-color: $color;
    align-items: center;
    border: 6px solid #0970DF;
    border-radius: 25px;
    margin-top: 3rem;
    margin-left: 3rem;
}

body div div div aside a {
    text-decoration: none;
}

body div aside a {
    text-decoration: none;
}
.aside__img {
    object-fit: cover;
    width: ($anchoimg/3)-50;
    border-radius: 20px;
    margin-bottom: 12px;
    margin-top: 5px;

}
