
.contacto__form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

}
.comentario__contacto {
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid #305b88;
    padding: 10px;
    margin-top: 2rem;
    margin-right: 2rem;
}
.input__label {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
.input__label label {
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
}
.comentario__contacto {
    width: 35rem;
    padding-left: 7rem;
}
.comentario__contacto p {
    font-size: 3rem;
    font-family: 'Source Serif Pro', serif;
    font-weight: bold;
}