$coloraside: #dfdede;

/*operaciones*/
$anchoimg:600px;

/*Condicionales*/

$color:grisecito;

aside{

    @if $color == azulcito {
        background-color: #5ce2db;
    }

    @else if $color == cremita {
        background-color: #dfdede;
    }

    @else if $color == rojito {
        background-color: #df9898;
    }
    @else if $color == grisecito {
        background-color: #4c4e509d;
    }

    @else {
        background-color: white;
    }
}
/*Boolean*/

$ver: false;

.aside__img{
    @if $ver {
        border: 10px double #0970DF ;
    }
}

/*bucle/loop*/
$i:1;

@for $i from 1 through 4 {
    .bucle-#{$i}{
        background-color: #4c4e509d;
        border-radius: 10rem;
    }
}

